body{
    background-color: darkred;
    text-align: center;
}

h1{
    background-color: cornsilk;
    font-family: "Cursive", lucida handwriting;
}

img{
    width: 350px;
}

h3{
  background-color: cornsilk;
  font-family: "Cursive", lucida handwriting;  
}